/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0px) {
  .sidebyside {
    padding: 50px 0;
  }

  .sidebyside .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sidebyside .content {
    order: 2;
    margin: auto;
    margin-top: 4.6875em;
    max-width: 38.1875em;
  }

  .sidebyside .content h2 {
    font-size: 3em;
    margin-bottom: 0.875em;
  }

  .sidebyside .content p {
    margin-bottom: 1.11111111em;
  }

  .sidebyside .content ul {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
  }

  .sidebyside .content ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sidebyside .content ul li img {
    margin-right: 0.625em;
    margin-top: 0.22222222em;
  }

  .sidebyside .content .button-solid {
    margin-top: 1.78571429em;
  }

  .sidebyside .image-box {
    display: block;
    position: relative;
    margin: auto;
    width: 38.1875em;
    height: 53.8125em;
    font-size: min(1.4vw, 1em);
  }

  .sidebyside .image-box:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: var(--primary);
    opacity: 1;
    top: 2.5em;
    left: -2.5em;
  }

  .sidebyside .image-box:after {
    content: '';
    position: absolute;
    display: block;
    height: 32.25em;
    width: 28.75em;
    background: url("../images/bg/content-circles.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    top: -14.125em;
    right: -6.8125em;
    z-index: -1;
  }

  .sidebyside .image-box .legend {
    color: #1a1a1a;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .sidebyside .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Inbetween */
@media only screen and (min-width: 666px) {
  .sidebyside {
    padding: 6.25em 0;
  }
}

/* Small Desktop */
@media only screen and (min-width: 1024px) {
  .sidebyside {
    padding: 9.375em 0;
  }

  .sidebyside .container {
    max-width: 86.9375em;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sidebyside .content {
    margin: 0;
    width: 60%;
    order: 2;
  }

  .sidebyside .image-box {
    margin: 0;
    margin-right: 10.625em;
    order: 1;
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Small Desktop */
@media only screen and (min-width: 1024px) {

  .sidebyside.reverse .content {
    order: 1;
  }

  .sidebyside.reverse .image-box {
    margin: 0;
    margin-left: 10.625em;
    order: 2;
  }

  .sidebyside.reverse .image-box:before {
    left: auto;
    right: -2.5em;
  }

  .sidebyside.reverse .image-box:after {
    right: auto;
    left: -6.8125em;
  }
}

/*-- -------------------------- -->
<---   Side By Side Square     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0px) {
  .sidebyside.square .image-box {
    width: 38.1875em;
    height: 38.1875em;
  }
}